<!DOCTYPE html>
<html>
<head>
  <title>Our Great Recycling App</title>

  <link rel="stylesheet" href="template/style.css">
  <link href="https://fonts.googleapis.com/css?family=Happy+Monkey|Josefin+Slab|Lusitana|Mountains+of+Christmas|Prata|Slabo+13px|Zilla+Slab&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

  <link rel="stylesheet" href="template/style.css">

  <link rel="stylesheet" href="style.css">

</head>
<body class="Site">
  <main class="Site-content">
    {% include 'templates/navbar.html' %}
  <h1>Home Grown</h1>
  <div id="details">
  <h2>Item Details</h2>
  <div id="details">
    <div class="content-item red">
      <h2>{{item.title}} </h2>
      <img id="imagesdetails"  src={{item.image_url}}>
      <p>{{item.caption}}</p>
      <input type= "submit" value="Message owner">
      <!--<h4>The fetched records from the query look like this</h4> {{everyones_posts}}-->
    </div>

  </div>
  <footer class="stickyfooter">
    <a href="/aboutus">About us</a>| <a href="mailto:someone@example.com">Contact</a> | Share | How it works | Community Guidelines
  </footer>
  </main>

</body>
</html>
