<!DOCTYPE html>
<html>
<head>
  <title>Our Great Recycling App</title>

  <link rel="stylesheet" href="template/style.css">
  <link href="https://fonts.googleapis.com/css?family=Happy+Monkey|Josefin+Slab|Lusitana|Mountains+of+Christmas|Prata|Slabo+13px|Zilla+Slab&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">

  <link rel="stylesheet" href="template/style.css">

  <link rel="stylesheet" href="style.css">

</head>
<body class="Site">
  <main class="Site-content">
  <div id="nav">
    <a id="link1" href="/"><b>Home</b></a>
    <a id="link1" href="/new-post"><b>Post</b></a>
    <a id="link1" href="/my-posts"><b>My Posts</b></a>
    <a id="loginbuttom" href="{{auth_url}}"><b>{{greeting}}</b></a>
  </div>
  <h1>Home Grown</h1>
  <div id="main">
    <h1>Item Details</h1>
    <div id = "postformat" class="content-item red">
      {% for post in your_own_items %}
        <div class="grid">
          <h1 id="title">{{post.title}}</h1>
          <img id="images" src="{{post.image_url}}">
          <p>{{post.caption}}</p>
        </div>
      {% endfor %}

      <!--<h4>The fetched records from the query look like this</h4> {{everyones_posts}}-->
    </div>

  </div>
  <footer class="stickyfooter">
    <a href="/aboutus">About us</a>| <a href="mailto:someone@example.com">Contact</a> | Share
  </footer>
  </main>

</body>
</html>
