<!DOCTYPE html>
<html>
<head>
  <title>Our great recycling app</title>

  <link rel="stylesheet" href="template/style.css">

  <link rel="stylesheet" href="style.css">

  <link rel="stylesheet" href="template/style.css">

  <link rel="stylesheet" href="style.css">

</head>
<body class="Site">
  <main class="Site-content">
  <div id="nav">
    <a id="link1" href="/"><b>APP</b></a>
    <a id="link1" href="/new-post"><b>POST</b></a>
    <a id="link1" href="/my-posts"><b>MY POSTS</b></a>
    <a id="loginbuttom" href="{{auth_url}}"><b>{{greeting}}</b></a>
  </div>
  <h1>App Website</h1>
  <div id="main">
    <div class="content-item red">
      <h1 >Your Posts</h1>
      {% for post in everyones_items %}
        <p id="title">{{post.title}}</p>
        <img id="images" src="{{post.image_url}}">
        <p>{{post.caption}}</p>
      {% endfor %}
    </div>
  </div>
  <footer class="red">
    About us     Contact     Share
  </footer>
  </main>

</body>
</html>
