<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <title>Our great recycling app</title>
      <link rel="stylesheet" href="style.css">

<body class="Site">
  <main class="Site-content">
  <div id="nav">
    <a href="#appname">APP</a>
    <a id="loginbuttom" href="{{auth_url}}">{{greeting}}</a>
  </div>
  <h1>App Website</h1>
  <div id="main">
      <h2>Post your item</h2>
    <form method="post" action="/">
      <p> Item title:</p>
      <input type= "text" name="title" value="">
      <p> Description of your item:</p>
      <input type= "text" name="caption" value=""><br>
      <input type= "submit" value="Post">
    </form>
    <div class="content-item red">Here is the feed (posts)</div>

    <footer class="red">
      About us Contact
    </footer>
  </div>
  </main>
</body>
