<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <title>Our great recycling app</title>
      <link rel="stylesheet" href="style.css">


<body class="Site">
  <main class="Site-content">
    <div id="nav">
      <a id="link1" href="/"><b>APP</b></a>
      <a id="link1" href="/new-post"><b>POST</b></a>
      <a id="loginbuttom" href="{{auth_url}}"><b>{{greeting}}</b></a>
    </div>
  <h1>App Website</h1>
  <div id="main">
      <h2>Post your item</h2>
    <form method="post" action="/new-post">
      <p> Item title:</p>
      <input type= "text" name="title" value="">
      <p> Description of your item:</p>
      <input type= "text" name="caption" value="">
      <p> Image's URL:</p>
      <input type= "text" name="image_url" value=""><br>
      <input type= "submit" value="Post">
    </form>

  </div>
  </main>
  <footer class="red">
    About us Contact
  </footer>
</body>
</html>
