#details {
  text-align: center;
  padding: 15px;
}
#imagesdetails {
  padding-top: 15px;
  height: 325px;
  width: 275px;
}

input[type=submit] {
  background-color: #34eb67;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* heree */


#images{
  height: 200px;
  width: 150px;
}
/* here */
#title{
  font-size: 20px;
}
.grid {
  width: 170px;
}

form {
  float: left;
}
h1 {
  text-align: center;
  font-size: 23px
}
body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#loginbuttom {
    float: right;
    font-family: 'Zilla Slab', serif;
}
#link1 {
    float: left;
    font-size: 45px;
    font-family: 'Zilla Slab', serif;

}
#postformat {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

#nav {
  font-size: 40px;
  height: 60px;
  padding: 14px;
  text-align: center;
  overflow: hidden;
  background-color: black;
}

#nav h1 {
  display: inline;

}

#nav a {
  color: white;
  text-align: center;
  padding: 9px;
  padding-bottom: 18px;
  text-decoration: none;
  font-size: 20px;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6,label, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

input[type=submit]:hover {
  background-color: #f5d742;
}
p{
  font-family: 'Zilla Slab', serif;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 5px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}
h2{
  font-size: 30px;
  font-family: 'Zilla Slab', serif;

}
h1{
  font-size: 40px;
  font-family: 'Zilla Slab', serif;
}
a, a:visited {
  color: inherit;
  font-family: 'Zilla Slab', serif;
  text-decoration: none;
}
a:hover{
  color: white;
  text-shadow:  2px 2px red;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


#main {
  /* max-width: 1270px; */
  margin: auto;
  min-height: 90vh;
}

button {
  margin-top: 5px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.content-item .grid {
  padding: 10px;
  margin: 10px;
  flex: 1;
  text-align: center;
}


footer {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  font-family: 'Zilla Slab', serif;
}

.red {
  background-color: black;
  color: white;
  padding-top: 15px;
}
.stickyfooter{
  background-color: black;
  color:white;
}
/* Three columns side by side */
.column {
  float: left;
  width: 32.2%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
/* .container {
  padding: 0 16px;
} */

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}


.button3:hover {
  background-color: #555;
}
