#images{
  height: 200px;
  width: 50%;
}
/* here */
#title{
  font-size: 20px;
}

form {
  float: left;
}
h1 {
  text-align: center;
  font-size: 23px
}
body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#loginbuttom {
    float: right;
}
#link1 {
    float: left;
}


#nav {
  height: 32px;
  padding: 14px;
  text-align: center;
  overflow: hidden;
  background-color: black;
}

#nav h1 {
  display: inline;

}

#nav a {
  color: white;
  text-align: center;
  padding: 9px;
  padding-bottom: 18px;
  text-decoration: none;
  font-size: 20px;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

html, body, div, span, applet, object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


#main {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

button {
  margin-top: 5px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.content-item {
  padding: 10px;
  margin: 10px;
  flex: 1;
}

footer {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
  width: 100%;
}


.red {
  background-color: black;
  color: white;
}

.blue {
  background-color: yellow;
  color: white;
}
